body {
  height: 100%;
  background: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  user-select: none;
}

*:focus {
  outline: 0;
}

button {
  cursor: pointer;
}

canvas {
  cursor: crosshair;
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  color: white;
  font-size: 1rem;
  z-index: 0;
}
.info.kill {
  top: 1.5rem;
}
.info.shot {
  top: 3rem;
}
.info.hit {
  top: 4.5rem;
}
.info.miss {
  top: 6rem;
}
.info.level {
  top: 7.5rem;
}
.info.highScore {
  top: 9rem;
}

#start {
  min-width: 30%;
  position: absolute;
  top: 0;
  opacity: 0;
  left: 50%;
  background: #fff;
  transform: translateX(-50%) translateY(-50%);
  padding: 20px 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  z-index: -1;
  transition: 300ms all ease-in;
}
#start * {
  margin: 3px 0;
}
#start button {
  background: green;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  margin-top: 10px;
  text-transform: uppercase;
}
#start p b {
  margin-bottom: 5px;
  display: block;
}
#start .actions label {
  display: block;
}

.show {
  opacity: 1 !important;
  top: 50% !important;
  z-index: 2 !important;
}

#alert, #alert-info {
  position: absolute;
  bottom: 30px;
  text-align: center;
  width: auto;
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
#alert.pulse {
  -webkit-animation: pulse 0.9s ease-in-out infinite alternate;
  animation: pulse 0.9s ease-in-out infinite alternate;
}

#alert-info {
  bottom: 70px;
}
#alert-info.pulse2 {
  -webkit-animation: pulse2 0.9s ease-in-out infinite alternate;
  animation: pulse2 0.9s ease-in-out infinite alternate;
}

@-webkit-keyframes pulse {
  0% {
    background: transparent;
  }
  50% {
    background: #ff000045;
  }
  100% {
    background: transparent;
  }
}
@keyframes pulse {
  0% {
    background: transparent;
  }
  50% {
    background: #ff000045;
  }
  100% {
    background: transparent;
  }
}

@-webkit-keyframes pulse2 {
  0% {
    background: transparent;
  }
  50% {
    background: #46add645;
  }
  100% {
    background: transparent;
  }
}
@keyframes pulse2 {
  0% {
    background: transparent;
  }
  50% {
    background: #46add645;
  }
  100% {
    background: transparent;
  }
}

@media screen and (max-width: 768px) {
  #start {
    min-width: 70%;
  }
}
